body {
  background: #353535;
  color: white;
  margin: 10% 80%;
}


@media screen and (min-width: 240px) and (max-width: 320px){
   body { background: red; }
}

/******************************
Additional Styling
*******************************/

body {
  margin: 0;
  font-family: Helvetica;
  background: #5fcf80;
}

.header {
  padding: 20px 0;
  margin: 0 auto;
}
